<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <style>
        #form {
            display: none;
        }
    </style>
</head>
<body>

<div id="search">
            <label><input type="text" id="name"></label>
            <button  onclick="searchByName()">Search By Name</button>
</div>
 <div id="searchByAuthor">
        <label><input type="text" id="author"></label>
        <button  onclick="searchByAuthor()">Search By Author</button>
</div>
<div id="searchByPrice" style="border: 1px solid black; width: 300px;float:right">
    <label><input type="text" id="minPrice"></label>
    <label><input type="text" id="maxPrice"></label>
    <button  onclick="searchByPrice()">Search By Price</button>
</div>
<button  onclick="findAll()">Display all Book</button>
<button  onclick="createForm()">Create new book</button>
<div id ="total">
    <p>Book total price:</p>
<p id="total-price"></p>
    <button onclick="showTotalPrice()">Show Total Price</button>
</div>
<h1>List Book</h1>
<div id="result"></div>
<div id="searchAuthor"></div>
<div id="display"></div>
<div id="price"></div>
<div id="form">
    <table class="table">
        <tr>
            <td colspan="2"><h3 id="title"></h3></td>
        </tr>
        <tr>
            <td>Book Code</td>
            <td><label><input type="text" id="bookCode" name="bookCode"></label></td>
        </tr>
        <tr>
            <td> Name</td>
            <td><label><input type="text" id="name" name="name"></label></td>
        </tr>
        <tr>
            <td> Author</td>
            <td><label><input type="text" id="author" name="author"></label></td>
        </tr>
        <tr>
            <td> Price</td>
            <td><label><input type="text" id="price" name="price"></label></td>
        </tr>
        <tr>
            <td>
                <button id="action">Create</button>&nbsp;
                <button onclick="backHome()">Back</button>
            </td>
        </tr>
    </table>
</div>
</body>
<script src="list.js"></script>
</html>
